.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    margin-bottom: 10rem;
}

.portfolio span:nth-of-type(1){
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
}
.portfolio span:nth-of-type(2){

    color: var(--orange);
    font-size: 3.5rem;
    font-weight: bold;
}

/* .portfolio .swiper{
    overflow: visible !important;
} */

.portfolio-slider{
   margin-top: -4rem;
    width: 100%;
}

/* .portfolio-slider .swiper-slide{
    width: 20rem;
} */
.portfolio img{
  transform: scale(0.55);
   filter: drop-shadow(-12px 15px 13px rgba(0,0,0,0.25)); 
   border-radius: 19px;
   margin: 0;
   cursor: pointer;
 
}

@media screen and (max-width: 480px) {

.portfolio{
    height: 0vh !important;
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.portfolio-slider{
   margin-top: 25%;
}

.portfolio-slider>*{
    transform: scale(1.5);
}
.image-h{
    font-size: 1rem !important;
    position: relative;
    top: 5rem !important;
}
}
